service bootanim /system/bin/bootanimation
    class core animation
    user media
    group graphics audio
    disabled
    oneshot
    ioprio rt 0
    task_profiles MaxPerformance
service banim_shut /system/bin/bootanimation shut
    class core animation
    user media
    group graphics audio
    disabled
    oneshot
    ioprio rt 0
    task_profiles MaxPerformance
